<link rel="stylesheet" href="~/css/activities.css" asp-append-version="true" />

<section class="hero-banner hero">
    <div class="cta-content">
        <h1>Enjoy our classes <br> and activites</h1>
        <p>Welcome to our Gym Activites Creation Portal, <br> your one-stop solution for setting up and managing
            <br> gym Activites effortlessly.
        </p>
        <a href="#activities" class="btn btn-secondary">activities </a>
    </div>
</section>


<section>
    @if (ViewBag.activites != null && ViewBag.activites.Count > 0)
    {
        @foreach (var activity in ViewBag.activites)
        {
            <div id="activities" class="services">
                <div>
                    <img src="/@activity.image_url" alt="">
                </div>
                <div>
                    <h2
                        style="background: -webkit-linear-gradient(180deg, rgba(236,1,1,0) 0%, rgba(2,189,222,1) 36%, rgba(0,0,0,1) 99%); -webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                        @activity.name</h2>
                    <p>@activity.description</p>
                    <ul>
                        <li><strong>Hour:</strong> @activity.hour on @activity.dayOfWeek</li>
                        <li><strong>Instructor:</strong> @activity.nameInstructor</li>
                        <li><strong>Max members:</strong> @activity.capacity</li>
                    </ul>
                    <br>
                    <a data-id-activity="@activity.id" href="/home/#join" class="btn btn-primary">Join</a>
                </div>
            </div>
        }
    }
    else
    {
        <div id="activities" class="services">
            <h3 style="background: -webkit-linear-gradient(180deg, rgba(236,1,1,0) 0%, rgb(222, 2, 46) 36%, rgba(0,0,0,1) 99%); -webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                Unfortunatly we don't have classes or activites yet. <br> Please stay tuned.. We are preparing new classes very soon
            </h3>
        </div>
    }
</section>

@* <section class="create-activities" id="create-activities">
<div class="form-container">
<form data-form data-state-form="create">
<img class="logo" src="https://cdn.icon-icons.com/icons2/2941/PNG/512/activity_icon_183756.png" alt="">
<div class="form-main">
<div data-form-inputs data-create>
<h3 class="form-title">Create an activities</h3>
<div class="form-group">
<label for="name" class="form-label">Name</label>
<input type="text" id="name" name="name" class="form-input" placeholder="Activity name">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="description" class="form-label">Description</label>
<textarea id="description" name="description" class="form-input"
placeholder="Short description about the activity..."></textarea>
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="capacity" class="form-label">Capacity</label>
<input type="number" max="30" id="capacity" name="capacity" class="form-input"
placeholder="Max capacity">
<small class="form-help-text error"></small>
</div>
@if (ViewBag.coaches != null)
{
<div class="form-group">
<label for="coach" class="form-label">Select a Instructor</label>
<select id="coach" name="userBId" class="form-select">
@foreach (var user in ViewBag.coaches)
{
<option value="@user.id">@user.name</option>
}
</select>
</div>
}
else
{
<div class="form-group">
<label for="coach" class="form-label">Select a coach</label>
<select id="coach" name="coach" class="form-select">
<option value="3">Rodrigo</option>
<option value="8">Juan</option>
<option value="9">Ted</option>
</select>
</div>
}
<div class="form-group">
<label for="day" class="form-label">Select a day</label>
<select id="day" name="day" class="form-select">
<option value="Monday">Monday</option>
<option value="Tuesday">Tuesday</option>
<option value="Wednesday">Wednesday</option>
<option value="Thursday">Thursday</option>
<option value="Friday">Friday</option>
<option value="Saturday">Saturday</option>
<option value="Sunday">Sunday</option>
</select>
</div>
<div class="form-group">
<label for="hour" class="form-label">Hour</label>
<input type="time" id="hour" name="hour" class="form-input" placeholder="Hour">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="image" class="form-label">Ilustration</label>
<input type="file" id="image" name="image" class="form-input" placeholder="">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<button data-update-activity style="text-align: left;">
<small class="form-help-text">Do want to update an activities <strong>Click
here</strong></small>
</button>
</div>
</div>
<div data-form-inputs data-update>
<h3 class="form-title">Update an activities</h3>
<div class="form-group">
<label for="id" class="form-label">Id</label>
<input type="text" id="id" name="id" class="form-input" placeholder="ID activity">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="name" class="form-label">Name</label>
<input type="text" id="name" name="name" class="form-input" placeholder="Activity name">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="description" class="form-label">Description</label>
<textarea id="description" name="description" class="form-input"
placeholder="Short description about the activity..."></textarea>
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="capacity" class="form-label">Capacity</label>
<input type="number" max="30" id="capacity" name="capacity" class="form-input"
placeholder="Max capacity">
<small class="form-help-text error"></small>
</div>
@if (ViewBag.coaches != null)
{
<div class="form-group">
<label for="coach" class="form-label">Select a Instructor</label>
<select id="coach" name="coach" class="form-select">
@foreach (var user in ViewBag.coaches)
{
<option value="@user.id">@user.name</option>
}
</select>
</div>
}
else
{
<div class="form-group">
<label for="coach" class="form-label">Select a Instructor</label>
<select id="coach" name="coach" class="form-select">
<option value="3">Rodrigo</option>
<option value="8">Juan</option>
<option value="9">Ted</option>
</select>
</div>
}
<div class="form-group">
<label for="day" class="form-label">Select a day</label>
<select id="day" name="day" class="form-select">
<option value="Monday">Monday</option>
<option value="Tuesday">Tuesday</option>
<option value="Wednesday">Wednesday</option>
<option value="Thursday">Thursday</option>
<option value="Friday">Friday</option>
<option value="Saturday">Saturday</option>
<option value="Sunday">Sunday</option>
</select>
</div>
<div class="form-group">
<label for="hour" class="form-label">Hour</label>
<input type="time" id="hour" name="hour" class="form-input" placeholder="Hour">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<label for="image" class="form-label">Ilustration</label>
<input type="file" id="image" name="image" class="form-input" placeholder="">
<small class="form-help-text error"></small>
</div>
<div class="form-group">
<button data-create-activity style="text-align: left;">
<small class="form-help-text">Do want to update an activities <strong>Click
here</strong></small>
</button>
</div>
</div>
</div>
<div class="form-footer">
<div class="form-group">
<button type="submit" class="btn btn-primary">Send</button>
</div>
<small class="form-help-text footnote">Already have an account? <a href="/home/#join"
class="link">Login</a></small>
</div>
</form>
</div>
</section> *@

@* <script src="~/js/management-activities.js" type="module" asp-append-version="true"></script> *@
